//$bg-blue: #090A18
$bg-blue: #090A15
$blue: #005
$blue-number: #001954
$green-hover: #00BB96
$green: #05C48A
$gray-line: #9299AF
$white-opacity: rgba(255, 255, 255, 0.80)
$white: #FFF
$gray: #D3D9EA
$magenta: #FF267E



$font-favbetText-regular: FavbetText-Regular, sans-serif // 400


$font-favbetDisplay-medium: FavbetDisplay-NormalMedium, sans-serif // 500
$font-favbetDisplay-bold: FavbetDisplay-NormalBold, sans-serif // 700
$font-favbetDisplay-wide-bold: FavbetDisplay-WideBold, sans-serif // 700

$font-robotoCondensed-regular: RobotoCondensed-Regular, sans-serif // 400
$font-robotoCondensed-bold: RobotoCondensed-Bold, sans-serif // 700
