.fav-page
    .welcome
        .welcome__title WELCOME COMBO #[span *]
        .welcome__bonus
            .welcome__bonus-left #[span up to] 500 000 ₴
            .welcome__bonus-right +1 000 FS
        .welcome__details
            .welcome__details-item Choose a bonus, make a deposit
            .welcome__details-arrowBox
                .welcome__details-arrow
                    img(src="img/arrow-3.png" alt="arrow")
                .welcome__details-arrow
                    img(src="img/arrow-3.png" alt="arrow")
            .welcome__details-item Unlock new bonus levels
            .welcome__details-arrowBox
                .welcome__details-arrow
                    img(src="img/arrow-3.png" alt="arrow")
                .welcome__details-arrow
                    img(src="img/arrow-3.png" alt="arrow")
            .welcome__details-item Collect your welcome combo
        .welcome__decor
            .welcome__decor-item.cube
                    img(src="img/cube.png" alt="cube")
            .welcome__decor-item.coin
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/coin-tab.png")
                    img(src="img/coin-desc.png" alt="coin")
            .welcome__decor-item.coin-blue
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-blue-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/coin-blue-tab.png")
                    img(src="img/coin-blue-desc.png" alt="coin")
            .welcome__decor-item.coinBig
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/coin-tab.png")
                    img(src="img/coin-desc.png" alt="coin")
            .welcome__decor-item.coin-r
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-r-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/coin-r-tab.png")
                    img(src="img/coin-r-desc.png" alt="coin")
            .welcome__decor-item.slot
                picture
                    source(media="(max-width: 600px)" srcset="img/slot-mob.png")
                    source(media="(max-width: 1050px)" srcset="img/slot-tab.png")
                    img(src="img/slot-desc.png" alt="slot")
    .bonusWrapp
        .levels.cont
            .levels__item
                .levels__item-number 1
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 2
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 3
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 4
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 5
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 6
                .levels__item-lvl lvl
            .levels__arrows
                .levels__arrows-item
                    img(src="img/arrow-1.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-2.png" alt="arrow")
                .levels__arrows-item
                    img(src="img/arrow-3.png" alt="arrow")
            .levels__item
                .levels__item-number 7
                .levels__item-lvl lvl
        .bonus.cont
            .bonus__section
                .bonus__title BONUS UP TO 500 000₴
                .bonus__row
                    .bonus__item
                        .bonus__item-offer Bonus 100% #[br] up to 50 000 ₴
                        .bonus__item-deposit for deposit from 100 ₴
                        .bonus__item-wagering Wagering: х35
                    .bonus__item
                        .bonus__item-offer Bonus 150% #[br] up to 75 000 ₴
                        .bonus__item-deposit for deposit from 200 ₴
                        .bonus__item-wagering Wagering: х30
                    .bonus__item
                        .bonus__item-offer Bonus 100% #[br] up to 50 000 ₴
                        .bonus__item-deposit for deposit from 100 ₴
                        .bonus__item-wagering Wagering: х30
                    .bonus__item
                        .bonus__item-offer Bonus 200% #[br] up to 100 000 ₴
                        .bonus__item-deposit for deposit from 400 ₴
                        .bonus__item-wagering Wagering: х30
                    .bonus__item
                        .bonus__item-offer Bonus 150% #[br] up to 75 000 ₴
                        .bonus__item-deposit for deposit from 300 ₴
                        .bonus__item-wagering Wagering: х25
                    .bonus__item
                        .bonus__item-offer Bonus 100% #[br] up to 50 000 ₴
                        .bonus__item-deposit for deposit from 100 ₴
                        .bonus__item-wagering Wagering: х25
                    .bonus__item
                        .bonus__item-offer Bonus 200% #[br] up to 100 000 ₴
                        .bonus__item-deposit for deposit from 500 ₴
                        .bonus__item-wagering Wagering: х25
            .bonus__section
                .bonus__title.games BONUS UP TO 1 000 FS
                .bonus__row
                    .bonus__item.bonus__item_fs
                        .bonus__item-game GATE OF OLYMPUS
                        .bonus__item-provider Pragmatic Play
                        .bonus__item-fs 200 FS
                        .bonus__item-deposit for deposit from 100 ₴
                        .bonus__item-wagering Wagering: х30
                    .bonus__item.bonus__item_fs
                        .bonus__item-game SUN OF EGYPT 3
                        .bonus__item-provider 3 OAKS
                        .bonus__item-fs 150 FS
                        .bonus__item-deposit for deposit from 200 ₴
                        .bonus__item-wagering Wagering: х30
                    .bonus__item.bonus__item_fs
                        .bonus__item-game AM'S PLAY
                        .bonus__item-provider PatePlay
                        .bonus__item-fs 150 FS
                        .bonus__item-deposit for deposit from 300 ₴
                        .bonus__item-wagering Wagering: х25
                    .bonus__item.bonus__item_fs
                        .bonus__item-game COIN STRIKE
                        .bonus__item-provider Playson
                        .bonus__item-fs 150 FS
                        .bonus__item-deposit for deposit from 400 ₴
                        .bonus__item-wagering Wagering: х25
                    .bonus__item.bonus__item_fs
                        .bonus__item-game FAVBET JOKER
                        .bonus__item-provider Endorphina
                        .bonus__item-fs 125 FS
                        .bonus__item-deposit for deposit from 300 ₴
                        .bonus__item-wagering Wagering: х25
                    .bonus__item.bonus__item_fs
                        .bonus__item-game SWEET BONANZA
                        .bonus__item-provider Pragmatic Play
                        .bonus__item-fs 125 FS
                        .bonus__item-deposit for deposit from 300 ₴
                        .bonus__item-wagering Wagering: х20
                    .bonus__item.bonus__item_fs
                        .bonus__item-game SUPREME HOT
                        .bonus__item-provider 3oaks
                        .bonus__item-offer 100 FS
                        .bonus__item-deposit for deposit from 300 ₴
                        .bonus__item-wagering Wagering: х20
    .activate.cont
        a(href="/personal-office/bonuses/list/)").btn.activate__btn Active you bonus
        .activate__info Bonus crediting details are available in My Account.
    .fiq.cont
        .drop
            details.dropdown
                summary How to receive all levels of the “Welcome Bonus”
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p Щоб отримати бонус, достатньо зібрати Експрес з мінімум 4 подій.
                            p Після розрахунку ставки до загального коефіцієнта автоматично додається коефіцієнт згідно ФАВБУСТЕР сітки і зараховується на баланс.
        .drop
            details.dropdown
                summary Can I activate two bonuses with one deposit (up to 500 000 ₴ and 1 000 FS)?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p Враховуються ставки лише типу «Експрес» на актуальні спортивні події з розділів «Спорт», «LIVE» та/або «Кіберспорт»
        .drop
            details.dropdown
                summary Can I choose only the deposit bonus or only free spins on a level?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10 подій, із яких 7 мають коефіцієнт не менше 1.35, а 3 — нижчий за 1.35, то в Акції враховуються лише ті 7 подій, що відповідають умовам участі.
                            p Згідно з ФАВБУСТЕР сіткою, буде застосовано додатковий відсоток виграшу у розмірі 8% (еквівалентний коефіцієнт: 1.08).
                            p ФАВБУСТЕР не поширюється на ставки типу «Система», а також ставки з застосуванням бонусу «Страховка ставки» та/або ставки з використанням Cash Out.
        .drop
            details.dropdown
                summary How much time do I have to activate the bonus?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10 подій, із яких 7 мають коефіцієнт не менше 1.35, а 3 — нижчий за 1.35, то в Акції враховуються лише ті 7 подій, що відповідають умовам участі.
        .drop
            details.dropdown
                summary What is the maximum bonus I can receive?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10
        .drop
            details.dropdown
                summary Can I skip a Level?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10
        .drop
            details.dropdown
                summary What happens if I do not wager the bonus?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10
        .drop
            details.dropdown
                summary In which games does Wagering count?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10
        .drop
            details.dropdown
                summary What is the maximum bet during Wagering?
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p ФАВБУСТЕР сітка застосовується до всіх Експресів, що містять щонайменше 4 події, кожна з яких має коефіцієнт не менше 1.35.
                            p #[span Приклад:] #[br] Якщо купон містить 10

        .drop._rules
            details.dropdown
                summary Official rules
                .drop-txt
                    .drop-txt-inner
                        .drop-txt-list
                            p Офіційні правила участі в Акції «ФАВБУСТЕР»
                            p 1.Організатором та Виконавцем Акції є ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ» (далі – Організатор), що має діючі ліцензії: Ліцензія на провадження діяльності з організації та проведення азартних ігор казино у мережі інтернет (Рішення про видачу ліцензії №137 від 05.04.2021), видана 20.04.2021 року, та Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності (Рішення про видачу ліцензії № 433 від 13.12.2022), видана від 28.12.2022 року, ЄДРПОУ 43457382, що знаходиться за адресою: Україна, 04076, місто Київ, пр. Бандери Степана, будинок 8, корпус 39, 39а. 
                            p 2. Організація і проведення Акції регламентовані цими правилами (далі – Правила), офіційний текст яких опубліковано на сайті www.favbet.ua у розділі «Акції». Всі терміни і визначення, що вживаються в цих Правилах, розуміються в значеннях, наведених в Законі України «Про державне регулювання діяльності щодо організації та проведення азартних ігор», Правилах Організатора азартних ігор казино в мережі Інтернет та букмекерської діяльності ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ» (надалі – Правила Організатора), Програмі Лояльності ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ» (надалі – Програма Лояльності), інших законодавчих актах і внутрішніх наказах і положеннях Організатора.
                            p 3. Мета проведення Акції – популяризація торговельної марки Організатора азартних ігор.
                            p 4. Учасником акції може бути фізична особа, яка на момент участі в азартній грі досягла 21-річного віку, пройшла ідентифікацію та верифікацію на сайті Організатора азартних ігор, є дієздатною, не має встановлених законодавством обмежень, щодо участі в азартній грі, не перебуває у Реєстрі осіб, яким обмежено доступ до гральних закладів та/або участь в азартних іграх, та за власним бажанням бере участь в азартній грі і відповідній Акції.
                            p 5. Погоджуючись з цими Правилами, Учасник підтверджує, що ознайомлений Правилами Організатора, Програмою лояльності, а також усвідомлює, що повинен дотримуватись Принципів відповідальної гри, що розміщені на сайті Організатора азартних ігор www.favbet.ua.
                            p 6. Акція проводиться по всій території України, крім Автономної Республіки Крим і тимчасово окупованих територій України.
                            p 7. Місцем проведення Акції є веб-сайт www.favbet.ua.
                            p 8. Акція проводиться у період: з хх.хх.2025 року до 31.12.2025 року.
                            p 9. Порядок участі в Акції «ФАВБУСТЕР» (надалі – Акція):
                            p.retreat1 9.1 Для участі в Акції, Учаснику необхідно здійснювати ставки виключно типу «Експрес» на актуальні спортивні події з розділів «Спорт», «LIVE» та/або «Кіберспорт», тим самим беручи участь у букмекерському парі Організатора.
                            p.retreat1 9.2 Основне завдання для Учасника – зробити ставки типу «Експрес» і залежно від загальної кількості подій включених в купон, до загального коефіцієнта ставки буде автоматично застосовано додатковий відсоток до розрахунку ставки наступним чином:
                            p.retreat1 ФАВБУСТЕР сітка:
                            p.retreat1.circle Для 4 подій – 3% (еквівалент коефіцієнту: 1.03)
                            p.retreat1.circle Для 5 подій – 4% (еквівалент коефіцієнту: 1.04)
                            p.retreat1.circle Для 6 подій – 5% (еквівалент коефіцієнту: 1.05)
                            p.retreat1.circle Для 7 подій – 8% (еквівалент коефіцієнту: 1.08)
                            p.retreat1.circle Для 8 подій – 10% (еквівалент коефіцієнту: 1.10)
                            p.retreat1.circle Для 9 подій – 12% (еквівалент коефіцієнту: 1.12)
                            p.retreat1.circle Для 10 подій – 15% (еквівалент коефіцієнту: 1.15)
                            p.retreat1 9.3 ФАВБУСТЕР сітка застосовується до всіх ставок типу «Експрес» на актуальні спортивні події з розділів «Спорт», «LIVE» та/або «Кіберспорт», які включають щонайменше 4 події, кожна з мінімальним коефіцієнтом 1.35.
                            p.retreat1 9.4 Додатковий відсоток, встановлений відповідно до ФАВБУСТЕР сітки, представлений еквівалентом значення коефіцієнта.
                            p.retreat1 9.5 Кінцевий відсоток оновлюється після того, як усі події в купоні будуть підтверджені (незалежно від результату). Якщо хоча б одна подія в квитку з будь-якої причини отримає коефіцієнт 1, ставка може залишатися акційною за умови, що принаймні 4 події в купоні продовжують відповідати мінімальним вимогам щодо коефіцієнта 1.35.
                            p.retreat1 9.6 Якщо купон включає одну або декілька подій з коефіцієнтом нижче 1.35, додатковий відсоток може бути доданий лише за умови, що після виключення цих подій купон все ще відповідає критеріям відповідності, зазначеним у сітці вище. #[br] - Приклад: якщо купон містить 10 (десять) подій, 7 (сім) з яких мають мінімальний коефіцієнт 1.35, а 3 (три) мають коефіцієнт нижче 1.35, купон вважається акційним для 7 (семи) подій, які відповідають критеріям відбору. Згідно з ФАВБУСТЕР сіткою, буде застосовано додатковий відсоток виграшу 8% (еквівалентний коефіцієнт: 1.08).
                            p.retreat1 9.7 ФАВБУСТЕР не поширюється на ставки типу «Система», а також ставки з застосуванням бонусу Страховка ставки та/або ставки з використанням Cash Out.
                            p.retreat1 9.8 Акція не поширюється на ставки, зроблені з використанням бонусних коштів. Бонус FAVBOOSTER доступний лише для ставок, зроблених з основного балансу гравця.
                            p.retreat1 9.9 Після застосування кінцевого відсотку згідно з ФАВБУСТЕР сіткою, максимальний коефіцієнт виграшу для кожного ігрового варіанту "Експрес" складає "1000". Якщо по ігровому варіанту “Експрес” коефіцієнт виграшу (призу) перевищує максимальний, то ставка та виграш (приз) по такому ігровому варіанту зменшуються до максимально можливого коефіцієнту, що дорівнює "1000". Максимальна сума виплати (виграшу, призу) на одну ставку не може перевищувати гривневий еквівалент 50 000 (п’ятдесят тисяч) Євро станом на дату виплати.
                            p 10. Дані правила можуть бути змінені/доповнені Організатором протягом всього періоду проведення Акції, при цьому інформування відносно змін і доповнень буде здійснено шляхом розміщення оновленої редакції Правил на сайті. Такі зміни і доповнення вступають в силу з моменту опублікування, якщо інше не буде передбачено діючою редакцією офіційних правил.
                            p 11. У випадку наявних технічних збоїв та/або інших непередбачуваних дій, що унеможливлюють проведення Акції, Організатор залишає за собою право призупинити проведення такої Акції та/або скасувати її, без виплати будь-якої додаткової компенсації учасникам.
                            p 12. Беручи участь в Акції, Учасник висловлює свою згоду з даними Правилами, Правилами Організатора та Програмою Лояльності, тим самим зобов'язується дотримуватися їх і керуватися ними у взаєминах з Організатором Акції та іншими Учасниками. Учасник Акції, який не дотримується Правил Акції, може втратити статус Учасника і не має права на одержання від Організатора будь-якої компенсації.
                            p 13. Якщо на момент оголошення переможців за результатом проведення Акції Учасником було встановлено персональний ліміт на ігрову діяльність шляхом підключення функції «САМОВИКЛЮЧЕННЯ» на веб-сайті Організатора, такий Учасник втрачає своє право на отримання призу в Акції.
                            p 14. З усіх додаткових питань, що стосуються Акції, Учасники можуть звертатися до служби підтримки за вказаними контактами у відповідному розділі на сайті www.favbet.ua.
        p.info *A bonus means the opportunity to receive a reward within the “Welcome Bonus” promotion. The promotion period is from ________ to 31.12.2026. The BONUS UP TO offer is available only for new clients and requires making a deposit and placing bets in accordance with the official promotion rules. Details are available on the website favbet.ua